:root {
    --main-bg-color:  #121856;
    --light-blue-color:#3f51b5;
    --main-color-white:#ffffff;
    --header-font-size:2rem;
    --max-font-size:1.4rem; /*21px*/
    --avg-font-size:1.2rem; /*18px*/
    --min-font-size:1rem;  /*16px*/
}
body{
    overflow-x: hidden !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--avg-font-size);
    scroll-behavior: smooth;
}
button,a{
    cursor: pointer;
}
/* ----------------Nav bar css-------------------- */

.navContainer{
    height: 54vh;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}
.searchNavbar{
    height: 10vh;
    width: 100%;
    position: relative;
}
.hide{
    display: none;
}
.navbar{
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
}
.navh1{
    position: absolute;
    top: 25vh;
    color:  var(--main-color-white);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--header-font-size);
}
.auth{
    position: absolute;
    top: 4vh;
    right: 3%;
}
.navSearch{
    position: absolute;
    top: 42vh;
    width: 100%;
    left: 30%;
}
.navSearchResult{
    position: absolute;
    top: 15vh;
    width: 100%;
    left: 5%;
}
.scene img{
    position: absolute;
    width: 15%;
    height: 15%;
    transform: scale(1.2);
    filter:drop-shadow(8px 8px 10px var(--main-bg-color))
}
.img1{
    top:10vh;
    left: 45%;
}
.img2{
    top: 30vh;
    left: 5%;
}
.img3{
    top: 40vh;
    right: 5%;
}
.img4{
    top: 15vh;
    right: 20%;
}
.img5{
    top: 10vh;
    left: 25%;
}
.scene i{
    position: absolute;
    background: var(--main-color-white);
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}
/* ---------------------------side bar css-------------------------------- */

.menu-btn {
    font-size: var(--header-font-size);
    background: none;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    text-align: center;
  }
  .hamburger{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background:  var(--main-color-white);
    border-radius: 3px;
  }
  
  .sidebar {
    background-color: var(--light-blue-color);
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: .8s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color:  var(--main-color-white);
  }
  
  .sidebar.active {
    right: 0;
  }
  
.sidebarHeader{
    padding:2em 0.5em;
	text-align:center;
}

.ProfileImg{
      width: 20%;
      height: 20%;
      border-radius: 50%;
  }
  .sidebar h4{
    font-weight: 300;
    margin-bottom: 0%;
    letter-spacing: 1;
}
.link,.dropdown-btn{
    display: block;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    font-size: var(--max-width-font-size);
    background:none;
    text-align: left;
    outline: none;
    text-decoration: none;
    color: var(--main-color-white);
}
.link:hover,.dropdown-btn:hover,li:hover,.sidebar a:hover{
    opacity: .8;
    transform: translateX(-2px);
}
.sidebar li{
    list-style: none;
    margin-bottom: 1vh;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 5vh;
    text-align: center;
} 
.sidebar footer button{
    background: #9BAAFD;
    border-radius: 10px;
    padding: 5px 10px;
    color:  var(--main-color-white);
    text-transform: uppercase;
    font-size: var(--max-width-font-size);
    box-shadow: 0px 3px 6px #000000B8;
    margin-bottom: 1vh;
}
/* -----------------------search ------------------- */
.searchContainer{
    display: flex;
    align-items: center;
    width: 40%;
    height: 6vh;
    background-color: #3f51b5;
    border:1px solid var(--light-blue-color);
    border-radius: 50px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
  }
.searchInput{
    padding-left:20px;
    flex: 1;
    outline: none;
    border: none;
    font-size: var(--avg-font-size);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    border-radius:50px 0px 0px 50px;
  }
.iconButton{
  float:right;
  height: 100%;
  margin:0;
  background:var(--light-blue-color);
  width:10%;
  border:1px solid var(--light-blue-color);
  border-radius:0px 50px 50px 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
  outline: none;
  font-size: var(--max-font-size);
  color: white;
}

/* --------------------------button css-------------------------------------- */

.btn{
    box-sizing: border-box;
    padding: 10px 18px;
    font-size: var(--max-width-font-size);
    box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    border-style: none;
    border-radius: 10px;
    font-weight: 400;
    line-height: 1.3;
    outline: none;
    letter-spacing: 0.03em;
}
.btn:hover{
    opacity: 0.8;
    transform: scale(1.02);
}
.btn-primary{
    color:  var(--main-color-white);
    background-color:  var(--light-blue-color);
}
.btn-default{
    color:  var(--light-blue-color);
    border:  var(--main-color-white);
    background-color:  var(--main-color-white);
}
.btn-bottomBorder{
    box-shadow: none;
    background-color:  var(--main-color-white);
    color:var(--light-blue-color);
    border-radius: 0px;
    border: 4px solid var(--light-blue-color);
    border-width: 0 0 4px 0;
}

.btn-secondary {
    color:  var(--main-color-white);
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-nobottomBorder{
    box-shadow: none;
    background-color:  var(--main-color-white);
    color: var(--light-blue-color);
    border: 4px solid  var(--main-color-white);
    border-width: 0 0 4px 0;
}
.btn-bottomBorder:hover,.btn-nobottomBorder:hover{
    transform: scale(1);
}
/* ------------------full width css--------------- */
.fullWidth{
    width: 100%;
}


/* -----------------------Modal css -------------------*/

.modal{
    position: relative; 
    margin: 5% auto 10% auto;
    width: 40%;
    height: 70vh;
    border-radius: 25px;
    background:  var(--main-color-white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000BA;
    border-radius: 15px;
    opacity: 1;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.modal-content{
    padding: 15px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .animate {
    -webkit-animation: animatezoom 0.7s;
    animation: animatezoom 0.7s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
.gridCont{
    margin-bottom: 2vh;
    width: 78%;
    display: flex;
    justify-content: space-between;
}
.gridItem{
    width: 47%;
}
.form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.DayPickerInput{
    width: 47%;
    height: 5vh;
    margin: 0px;
    padding: 0%;
}
.selectModal{
    width: 48%;
    height: 5vh;
    font-size: var(--max-width-font-size);
    border: 1px solid #ccc;
    border-radius:10px ;
    outline: none;
    margin-top: 0%;
    color: var(--light-blue-color);
    padding-left: 3%;
}

.modalHeader{
    width: 100%;
    text-align: center;
    color: var(--light-blue-color);
}


.inputForm{
    width: 75%;
    height: 5vh;
    outline: none;
    border: 1px solid #ccc;
    border-radius:10px ;
    padding-left: 3%;
    color: var(--light-blue-color);
    font-size: var(--max-width-font-size);
    margin-bottom: 3vh;
}
.form-social-btn{
    width: 78%;
    color: var(--light-blue-color);
    background:  var(--main-color-white);
    margin-bottom: 3vh;
}
.form-social-btn:hover{
    background:var(--light-blue-color);
    color:  var(--main-color-white);
}
.react-datepicker__input-container input {
    width: 100%;
 }

.signHeader{
width: 50%;
padding: 0;
}

/* -----------------------Template ----------------------- */

.borderBox{
    width: 220px;
    height: 220px;
    outline: none;
    background:  var(--main-color-white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px #000000A6;
    border: 1px solid #000000;
    border-radius: 20px;
    opacity: 1;
    justify-content: center;
}
.borderBox:hover{
    transform: scale(1.01);   
    opacity: 0.8;
    border: 1px solid var(--light-blue-color);
}
.plusIcon{
    display:inline-block;
    width:50%;
    height:50%;
    background:
    linear-gradient(#000,#000),
    linear-gradient(#000,#000);
    background-position:center;
    background-size: 50% 3px,3px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
}


.template{
    width: 100%;
    position: absolute;
    top: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.homeTemplate{
  padding-right: 30px;
  padding-left: 30px;
  position: relative; 
  top: 5vh;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}
.userBorder{
    display: flex;
}
.userBorderBox{
    width: 220px;
    height: 220px;
    outline: none;
    background:var(--main-bg-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px #000000A6;
    border: 1px solid var(--main-bg-color);
    border-radius: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;

}
.userBorderBox:hover{
    transform: scale(1.01);
}
.userCont{
    float: right;
    margin: 4%;
}

.userCont > button{
    float: right;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 3%;
}

.userCont > button:hover{
    transform: scale(1.1); 
}
.borderName{
    color:  var(--main-color-white);
    font-size: var(--header-font-size);
    font-weight: 600;
    margin-top: 10%;
    text-align: center;
}
/* -----------------=========Search Result css=========--------------- */


/* ===============footer cs================== */

@media only screen and (max-width: 1300px) {
    body {
      font-size: var(--avg-width-font-size);
    }
    .navh1{
        font-size: 1.5em;
    }
    .link,.dropdown-btn,.selectModal,.sideBtn,.iconButton,.inputForm,.btn{
        font-size: var(--avg-width-font-size);
        line-height: 1;
    }
    .borderBox,.userBorderBox{
        width: 180px;
        height: 180px;
    }
  }